*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
help-api/ApiProject/.idea/
help-api/ApiProject/obj/
help-api/ApiProject/bin/
.idea/
help-api/ApiProject.Tests/bin/
help-api/ApiProject.Tests/obj/
